.containerHomePrincipal{
    background: linear-gradient(180deg, #EE8328 0%, #E14318 100%);
    height: 840px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokeballBackground{
    left: -10px;
    position: absolute;
}

.pokeballBackgroundRight{
    /* right: -10px; */
    position: absolute;
    transform: scaleX(-1);
}