.ContainerPokemonSelect{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1217px;
  width: 100%;
}

.ContainerOne, .ContainerThree {
  width: 45%;
}

.ContainerTwo{
  width: 10%;
}


.ContainerTwo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

}

.RectangleOne{
  transform: scaleY(-1);
}

.titlePokemon{
  font-family: "Montserrat",sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.paragraphPokemon{
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 410px;

}

.buttonPokemon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
  gap: 8px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  width: 100%;
  margin-top: 24px;
  color: #E14318;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 1200px){
  .ContainerPokemonSelect{
    flex-direction: column;
  }

  .ContainerOne, .ContainerTwo , .ContainerThree {
    width: 100%;
  }

  .imagePokemon{
    width: 300px;
  }

  .buttonPokemon{
    width: 250px;
  }

  .ContainerOne{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  .ContainerTwo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    height: 50px;
    margin-block: 30px;
    display: none;
  }

  .RectangleOne{
    transform: rotate(90deg);
  }

  .RectangleTwo{
    transform: rotate(90deg);
  }
}